* {
  margin: 0;
  top: 0;
}
body {
  background-color: hsl(0deg 0% 94.51%);
}

/* navbar section */
.navbar_section {
  background-color: white;
  padding: 0.6em 0;
}
.navbar-brand {
  font-size: 2em;
}
.Navbar_open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* navbar section */

/* home section */
.home_img {
  border-radius: 3em;
  position: relative;
  top: 5em;
  left: 8em;
  object-fit: cover;
  width: 46em;
  height: 44em;
  box-shadow: 0 0.5rem 2rem rgb(187, 187, 187);
}
.home_img_div::before {
  position: absolute;
  width: 110%;
  height: 82%;
  top: 0;
  left: 0;
  background-color: hsl(190.64deg 63.8% 56.67%);
  content: " ";
}
.home_card {
  background-color: white;
  width: 34em;
  padding: 2em;
  border-radius: 2em;
  position: relative;
  left: 40em;
  box-shadow: 0 0.5rem 2rem rgb(187, 187, 187);
  top: -28em;
}
.home_card p {
  font-size: 1.2em;
  font-weight: 550;
}
.home_card h1 {
  width: 4em;
  font-size: 3.6em;
  font-weight: 700;
  color: hsl(18.51deg 79.19% 56.67%);
}
.home_card_footer {
  color: hsl(0deg 0% 56.08%);
}
.home_card button {
  background-color: hsl(190.64deg 63.8% 56.67%);
  color: white;
  border: 0;
  border-radius: 2em;
  margin: 0.1em 0;
  width: 10em;
  padding: 1em;
}
.home_card button:hover {
  color: hsl(0, 4%, 90%);
}
.home_card_footer a {
  color: hsl(0deg 0% 56.08%);
  border-bottom: 2px solid hsl(0deg 0% 56.08%);
}
.home_card_footer a:hover {
  text-decoration: none;
  border-bottom: 2px solid hsl(0, 1%, 25%);
}

/* home section */

/* card section */
.Card_section {
  position: relative;
}
.Card_section::before {
  position: absolute;
  background-color: hsl(190.64deg 63.8% 56.67%);
  bottom: 0;
  height: 75%;
  width: 100%;
  content: "";
}
.Card_row {
  margin: 4em 0;
}
.Card_div1,
.Card_div3 {
  margin-top: 5em;
}
.card_section_heading {
  font-size: 3.4em;
  font-weight: 700;
  color: hsl(18.51deg 79.19% 56.67%);
  margin-top: -4em;
}
.card_section_card {
  background-color: white;
  padding: 1.6em;
  text-align: center;
  border-radius: 2em;
}
.card_section_divi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card_section_divi i {
  font-size: 2em;
  background-color: hsl(18.21deg 93.49% 57.84%);
  color: white;
  width: 2.2em;
  height: 2.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 100%;
}
.card_section_card h4 {
  font-size: 1.4em;
  font-weight: 700;
  margin: 0.4em 0;
}
.card_section_card p {
  color: hsl(0deg 0% 65.88%);
  font-size: 1em;
}
.card_section_card a {
  color: hsl(0, 1%, 56%);
  font-size: 1.1em;
  border-bottom: 2px solid hsl(0deg 0% 65.88%);
}
.card_section_card a:hover {
  border-bottom: 2px solid hsl(0, 2%, 49%);
  text-decoration: none;
}
/* card section */

/* Card section 2 */
.card_container2_row {
  padding-bottom: 4em;
}
.card_container2_card {
  background-color: white;
  padding: 1em;
  padding-bottom: 3em;
  padding-top: 2em;
  border-radius: 32px;
  text-align: center;
  border-top: 8px solid hsl(18.21deg 93.49% 57.84%);
}
.card_container2_heading {
  color: white;
  text-align: center;
  margin: 4em 0;
}
.card_container2_heading p {
  width: 50%;
  margin: auto;
}
.card_cotainer2_img2 {
  border-radius: 100%;
  object-fit: contain;
  width: 100%;
  height: 100%;
  padding: 0em;
}
.card_container2_card h2 {
  font-weight: 550;
  font-size: 1.6em;
  margin: 0.4em 0;
}
.card_container2_card p {
  color: hsl(0deg 0% 65.88%);
  font-size: 1em;
}
.card_container2_card a {
  color: hsl(0, 1%, 48%);
  font-size: 1.1em;
  border-bottom: 2px solid hsl(0deg 0% 65.88%);
}
.card_container2_card a:hover {
  border-bottom: 2px solid hsl(0, 2%, 49%);
  text-decoration: none;
}
/* Card section 2 */

/* vacancies Section */
.vacancies_Section_heading {
  text-align: center;
  margin: 4em 0;
}
.vacancies_Section_heading h1 {
  color: hsl(20.84deg 72.93% 55.1%);
  font-size: 3.2em;
  font-weight: 700;
}
.vacancies_Section_paragraph {
  width: 30em;
  color: hsl(0, 0%, 52%);
  padding: 1.4em 0;
  font-size: 1.1em;
  margin: auto;
}
.vacancies_Section_description {
  font-size: 1.2em;
  color: hsl(0, 0%, 43%);
  width: 54em;
  margin: auto;
  font-weight: 550;
  padding-bottom: 1.2em;
}
.vacancies_Section_heading button {
  background-color: hsl(190.64deg 63.8% 56.67%);
  color: white;
  width: 12em;
  padding: 1em;
  border: none;
  border-radius: 2em;
  margin: 1.2em 0;
}
.vacancies_Section_heading button:hover {
  color: hsl(0, 4%, 90%);
}
/* vacancies Section */
/* vacancies img Section */
.vacancies_section {
  margin-top: 6em;
}
.vacancies_img {
  object-fit: cover;
  width: 56em;
  height: 40em;
  position: relative;
  border-radius: 4em;
}

.vacancies_img_div::before {
  border-radius: 4em;
  position: absolute;
  width: 84%;
  height: 52%;
  left: 14em;
  top: -5em;
  background-color: hsl(190.82deg 64.21% 81.37%);
  content: " ";
}
.vacancies_card_div {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  position: relative;
  top: -30em;
  width: 96%;
}
.vacancies_img_card {
  width: 46%;
  background-color: white;
  border-radius: 2em;
  padding: 2em;
}
.vacancies_img_card h1 {
  font-size: 2.4em;
  margin: 0.4em 0;
  color: hsl(192.67deg 47.37% 62.75%);
  font-weight: 550;
}
.vacancies_card_paragraph {
  color: hsl(0, 0%, 47%);
  font-weight: 550;
}
.vacancies_card_p {
  color: hsl(0, 0%, 47%);
  font-weight: 550;
  font-size: 1.1em;
}
.vacancies_card_p a {
  color: hsl(0, 0%, 47%);
  font-weight: 550;
  font-size: 1.1em;
  border-bottom: 2px solid hsl(0, 0%, 47%);
}
.vacancies_card_p a:hover {
  text-decoration: none;
  border-bottom: 2px solid hsl(0, 1%, 25%);
}

.vacancies_img_card button {
  background-color: hsl(190.64deg 63.8% 56.67%);
  color: white;
  width: 12em;
  padding: 0.8em;
  border: none;
  border-radius: 2em;
  margin: 1em 0;
}
.vacancies_img_card button:hover {
  color: hsl(0, 4%, 90%);
}
/* vacancies img Section */

/* Road travel section */
.Road_Section {
  background-color: hsl(190.64deg 63.8% 56.67%);
  color: white;
  margin-top: -20em;
  padding-bottom: 4em;
}
.Road_Section_heading {
  text-align: center;
  font-size: 4em;
  padding: 1.2em 0;
}

.Road_Section_img1 img {
  border: 12px solid white;
  border-radius: 2em;
  object-fit: cover;
  width: 85%;
  height: 35em;
}
.Road_Section_img2 img {
  border: 12px solid white;
  border-radius: 2em;
  object-fit: cover;
  width: 90%;
  height: 22em;
}
.Road_Section_img2_content {
  margin-top: 4em;
  width: 85%;
}
.Road_Section_img2_content p {
  font-size: 1.1em;
}

.road_conent_link a {
  color: white;
  font-weight: 550;
  font-size: 1.1em;
  border-bottom: 2px solid white;
}
.road_conent_link a:hover {
  text-decoration: none;
  border-bottom: 2px solid whitesmoke;
}
/* Road travel section */

/* vacanciesn section 2 */
.vacancies_section_2 {
  margin-top: 11em;
}

.vacancies_Section2_img {
  object-fit: cover;
  width: 56em;
  height: 40em;
  position: relative;
  border-radius: 4em;
  left: 16em;
}

.vacancies_section2_img_div::before {
  border-radius: 4em;
  position: absolute;
  width: 80%;
  height: 52%;
  left: 10em;
  top: -6em;
  background-color: hsl(190.82deg 64.21% 81.37%);
  content: " ";
}
.vacancies_section2_card_div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: center;
  align-items: start;
  position: relative;
  top: -28em;
  width: 96%;
}
.vacancies_Section2_img_card {
  width: 40%;
  background-color: white;
  border-radius: 2em;
  padding: 2em;
}
.vacancies_Section2_img_card h1 {
  font-size: 2.4em;
  margin: 0.4em 0;
  color: hsl(192.67deg 47.37% 62.75%);
  font-weight: 550;
}
.vacancies_section2_card_paragraph {
  color: hsl(0, 0%, 47%);
  font-weight: 550;
  width: 96%;
  margin: auto;
}

.vacancies_Section2_img_card button {
  background-color: hsl(190.64deg 63.8% 56.67%);
  color: white;
  width: 12em;
  padding: 0.8em;
  border: none;
  border-radius: 2em;
  margin: 1.6em 0;
}
.vacancies_Section2_img_card button:hover {
  color: hsl(0, 4%, 90%);
}
/* vacancies img Section */
/* vacanciesn section 2 */

/* end foooter section */
.end_footer {
  background-color: hsl(0deg 0% 19.22%);
  color: hsl(0deg 0% 61.57%);
  padding: 1em 0;
}
/* end foooter section */
